*{
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(27, 27, 29);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}


nav{
  position: fixed;
}
nav a{
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 3px;
}
.elements-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 20px 90px;
  background-color: #f8f9f9;
}
.first-container-horit{
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.second-container-horit{
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.third-container-horit{
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.foto-container-vert{
  background-color:  #282828;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foto-container-vert h2{
  font-family: 'Montserrat', sans-serif;
  color:white;
  padding: 10px;
  border: 3px white solid;
  letter-spacing: 5px;
}

.text-container-vert{
  background-color: #f8f9f9;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 70px;
}
.text-container-vert h4{
  font-family:  'Montserrat', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 40px;
  color: #3d3d3d;
  
}
.text-container-vert p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: center;
  margin-bottom: 40px;
  color: #7c7c7d;
}

#song-container-vert{
  background-image: url('images/bogomil-mihaylov-ekHSHvgr27k-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
#movie-container-vert{
  background-image: url('images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
#book-container-vert{
  background-image: url('images/neonbrand-JefwQx-85dQ-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.saber-mas-btn{
  border: none;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 10px 30px;
  transition: 0.2s;
  color: #3d3d3d;
}
.saber-mas-btn:hover{
  border: 3px #232323 solid;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 5px 20px;
  cursor: pointer;
  background-color: #232323;
  color:white
}
.saber-mas-btn-coming{
  border: none;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 10px 30px;
  transition: 0.2s;
  color: #3d3d3d;
}
.close-pop-btn{
  border: none;
  letter-spacing: 3px;
  background-color: #232323;
  padding: 10px 30px;
  transition: 0.2s;
  color:white;
}
.close-pop-btn:hover{
  border: 3px #232323 solid;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 5px 20px;
  cursor: pointer;
  background-color: transparent;
  color:#232323
}
.close-pop-btn-movies{
  border: none;
  letter-spacing: 3px;
  background-color: #232323;
  padding: 10px 30px;
  transition: 0.2s;
  color:white;
  margin-bottom: 70px;
}
.close-pop-btn-movies:hover{
  border: 3px #232323 solid;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 5px 20px;
  cursor: pointer;
  background-color: transparent;
  color:#232323
}



/* Pop up */
.full-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}
.hidden {
  display: none;
}
.music-elements{
  display:flex;
  width: 100%;
  height: 100%;
  
}
.music-img-div{
  height: 100%;
  width: 40%;
  background-image: url('images/annie-spratt-LtD7qn9k108-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.music-text-div{
  background-color: rgba(248, 248, 250, 0.719);
  width: 60%;
  color: #303133;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  text-align: center;
  height: 100%;
}

.music-text-div > h2{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;
  color: #232323;
  padding: 0px 10px;
  
  
}
.music-text-div > h3{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}
.music-text-div img{
  width: 180px;
  margin-left: 30px;
  
}
.music-text-div button{
  margin-bottom: 10px;
}
.album-dades{
  display: flex;
  margin-top: 0px;
}
.album-dades-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.album-dades-img img{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}
.album-dades-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  padding-top: 20px;
}
.album-dades-text > h6{
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: left;
}
.album-dades-text > h5{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
.album-dades button{
  margin-bottom: 20px
}


.movie-elements{
  display:flex;
  width: 100%;
  height: 100%;
  
}
.movie-img-div{
  height: 100vh;
  width: 40%;
  background-image: url('images/jakob-owens-rEuVRj7qCbU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.movie-text-div{
  background-color: white;
  width: 60%;
  color: #16141b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}
.movie-text-div h2{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 5px;
  color: #232323;
  padding: 0px 10px;

}
.movie-text-div h3{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #232323;
}

.movie-info-poster{
  display: flex;
  margin-top: 40px;
}
.movie-info-poster img{
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}
.movie-info{
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.movie-info-left{
  width: 40%;
}
.movie-info-right{
  width: 60%;
}
.movie-info-left > h2{
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-weight: 200;
  text-align: left;
  border: none;
  letter-spacing: 0px;
  color: #232323;
}
.movie-info-right > h2{
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-weight: 200;
  text-align: left;
  border: none;
  letter-spacing: 0px;
  color: #232323;
}
.movie-info > h5{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  letter-spacing: 0px;
  font-weight: 500;
  color: #232323;

}
.plot{
  margin-left: 30px;
  padding-top: 30px;
}
.plot > h2{
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px 10px;
  font-weight: 300;
  border: none;
  letter-spacing: 0px;
  color: #232323;

}
.plot > h5{
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #232323;

}
.rates{
  display: flex;
  margin: 30px 0px;
}
.rate-name h5{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: #232323;

}

.rates-type{
  margin-right: 30px;
}
.rates-type h2{
  font-size: 1em;
  border: none;
  letter-spacing: 0px;
  color: #232323;


}
.movie-poster{
  margin-left: 20px;
}
#movie-img img{
  width: 280px;
}

/* Faqs Page */
.faqs-header {
  height: 300px;
  background-color: #343a40;
  color: white;
  display: flex;
  align-items: center;
}
.faqs-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 2em;
  padding-left: 30px;
  border-bottom: 1px solid white;
}
.title-faqs{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}
.faqs {
  display: flex;
  width: 100%;
}
.questions {
  width: 60%;
}

.faqs-img {
  display: flex;
  width: 40%;
}
.faqs-img img {
  margin: 25px;
}
.faqs-content{
  text-align: start;
  margin: 40px 40px
}
.faqs-content h2{
  text-align: start;
  margin: 0px 40px;
  color: rgb(45, 45, 48)
}
.faqs-content p{
  text-align: start;
  margin-top: 15px;
  color: rgb(45, 45, 48);
  font-family: 'Open Sans', sans-serif;
}
.question-items{
  margin: 40px
}
.question-items h4{
  border-bottom: #343a40 1px solid;
  color: rgb(45, 45, 48);
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}


/* LOG-IN */
.login-div{
  background-color: #343a40;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-login-div{
  display: flex;
  height: 600px;
  width: 1000px;
}
.login-img{
  background-color: #343a40;
  width: 400px;
  border-right: 1px white solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.login-img h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  font-size: 4em;
}
.login{
  padding: 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 2em;
  padding-left: 30px;
  border-bottom: 1px solid white;
  align-self: flex-start;
  margin-bottom: 60px;
  color: white
}
.login input{
  margin: 20px 10px;
  height: 50px;
  width: 380px;
  padding: 20px;
  background-color: transparent;
  border: solid 1px white
}
form input, .placeholder {
  color: white;
}
.login input::selection{
  margin: 10px;
  height: 50px;
  width: 380px;
  padding: 20px;
  background-color: transparent;
  border: solid 2px white
}
form input, .placeholder {
  color: white
}
.login button{
  font-family: 'Montserrat', sans-serif;
  color:white;
  padding: 10px 20px;
  border: 1.5px white solid;
  letter-spacing: 5px;
  margin-top: 20px;
}
.button a{
  text-decoration: none;
}
.login button:hover{
  font-family: 'Montserrat', sans-serif;
  color:black;
  background-color: white;
  padding: 10px 20px;
  border: 1px white solid;
  letter-spacing: 5px;
  margin-top: 20px;
}
.button a:hover{
  text-decoration: none;
}
.message-container{
  color: white;
  font-family: 'Montserrat', sans-serif;;
}

/* Home */
.title{
  height: 100vh;
  background-image: 
  radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%),
    url('images/sparkler-677774_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.title h1{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 8em;
  font-weight: 700;
  letter-spacing: 20px;
  color:#dee0e2;
  transition: 1s ease-out;
  background: rgb(222,224,226);
  background: linear-gradient(90deg, rgba(222,224,226,0.5664332627582283) 0%, rgba(222,224,226,0.31713354287027307) 100%);
}

.discover-section-one{
  background-color: #f8f9fa;
  display: flex;
  width: 100%;
  height: 450px;
  color: #343a40;
 align-items: center;
}
.input-section-content-text{
  width: 55%;
  padding: 50px 70px;
}
.input-section-content-text h2{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
.input-section-content-text p{
  font-family: 'Open Sans', sans-serif;
}
.input-section-content{
  width: 45%;
  padding: 50px 70px;
  border-left: 1px #343a40 solid;
}
.input-section-content-form h3{
  font-family: 'Montserrat', sans-serif;
}
#birth-date{
  margin: 20px 10px;
  height: 50px;
  width: 300px;
  padding-left: 70px;
  background-color: transparent;
  border: solid 1px #343a40
}
#birth-date, .placeholder{
  font-size: 1.3em;
  letter-spacing: 2px;
  color: #343a40
}
#birth-button {
  color: #343a40;
  border: 1px #343a40 solid;
  margin-left: 10px;
}
#birth-button:hover {
  background-color: #343a40;
  color: white;
  border: 1px #343a40 solid;
  margin-left: 10px;
}
.discover-section-two{
  background-color: #343a40;
  display: flex;
  width: 100%;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items-description-text{
  width: 100%;
  padding: 20px 70px;
  text-align: center;
}
.items-content{
  display: flex;
  width: 100%;
  justify-content: center;
}
.items-description{
  margin: 0 20px;
  width: 300px;
  height: 300px;
}


.items-icon{
  height: 180px;
  font-size: 7em;
  text-align: center;
}
.description-icon{
  border-top: 1px solid white;
  text-align: center;
  align-items: center;
  padding: 10px 20px
}
footer{
  background-color: #232323;
  color: white;
  height: 200px;
  margin-top: 100px;
  width: 100%;
}
.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer-title > h2{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  font-size: 2em;
}
.footer-list{
  display: flex;
  flex-direction: row;
  
}
.footer-list ul{
  display: flex;
  
}
.footer-list li{
  margin: 0px 10px;
  list-style: none;  
}
.footer-list li > a{
 text-decoration: none;
 color: white;
 font-size: 1.2em;
}
.footer-list li > a:hover{
  text-decoration: underline;
 
 }




/* Responsive */
/* Sign Up */
@media screen and (max-width: 800px){
 .mini-login-div{
   width: 700px;
 }
  .login-img {
    width: 170px;
  }
  
  .login-img h1{
    font-size: 2em;
  }
}

@media screen and (max-width: 600px){
  .mini-login-div{
    width: 700px;
    flex-direction: column;
  }
   .login-img {
     overflow: hidden;
   }
   
   .login-img h1{
    overflow: hidden;
  }
 }
 @media screen and (max-width: 450px){
  .login{
    padding: 10px 20px
  }
  .mini-login-div{
    width: 700px;
    flex-direction: column;
  }
  form{
    padding: 0px 20px
  }
  .mini-login-div input{
    width: 300px;
    margin: 5px;

  }
   .login-img {
     overflow: hidden;
   }
   
   .login-img h1{
    overflow: hidden;
  }
  .message-container p{
    margin: 5px 30px;
    font-size: 0.8em;
  }
 }

 /* Faqs */
 @media screen and (max-width: 1000px){
   .faqs-img{
     display: none;
   }
 }
 @media screen and (max-width: 700px){
  .faqs-img{
    display: none;
  }
  .question-items{
    margin: 40px 10px;
  }
  .question h4{
    font-size: 1.2em;
  }
  .answer p{
    font-size: 0.9em;
  }
}

/* Discover */
@media screen and (max-width: 850px){
  .first-container-horit{
    flex-direction: column;
  }
  .second-container-horit{
    flex-direction: column-reverse;
  }
  .third-container-horit{
    flex-direction: column;
  }
  .elements-container{
    width: 100%;
    margin: 0px 0px;
  }
  .foto-container-vert{
    width: 100%;
  }

  .text-container-vert{
    width: 100%;
  }
  
}

/* Discover pop-up movies */
@media screen and (max-width: 1100px){
  
  .movie-text-div{
    padding-top: 30px;
  }
  .movie-text-div h3{
    font-size: 1.2em;
  }
  .movie-info > h2{
    font-size: 1em;
  }
  .movie-info > h5{
    font-size: 0.8em;
  }
  .plot{
    margin: 0 30px;
  }
  .plot > h2{
    font-size: 1em;
  }
  .plot > h5{
    font-size: 0.8em;
  }
  .rates-type{
    margin: 30px 10px;
  }
  #movie-img img{
    width: 230px;
  }
  .close-pop-btn{
    margin-top: 0px;
  }
}
@media screen and (max-width: 980px){
  .rates-type{
    margin: 10px 10px;
  }  
  .close-pop-btn{
    margin-top: 0px;
  }
  .movie-info-left > h5{
    font-size: 1em;
  }
  .movie-info-right > h5{
    font-size: 1em;
  }
  #movie-img img{
    width: 280px;
    margin: 0px 20px;
  }
  .plot > h2{
    font-size: 1.1em;
  }
  .plot > h5{
    font-size: 1.1em;
  }
}
@media screen and (max-width: 850px){
  .movie-img-div{
    display: none;
  }
  .movie-text-div{
    width: 100%;;
  }
}
@media screen and (max-width: 640px){
  .full-screen{
    height: 100%;
  }
  .movie-elements{
    height: 100%;
  }
  .movie-text-div{
    display: flex;
    height: 1400px;
  }
  .movie-poster{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  #movie-img img{
    width: 300px;
    margin-bottom: 30px;
  }
  .movie-info-poster{
    flex-direction: column;
  }
  .movie-info{
    margin-right: 10px;
    text-align: center;
  }
  .movie-info-left h2{
    text-align: center;
  }
  .movie-info-right h2{
    text-align: center;
  }
 
}

/* Pop up music */
@media screen and (max-width: 1000px){
  .music-elements{
    height: 1000px;
  }
  .music-img-div{
    display: none;
  }
  .music-text-div{
    width: 100%;
    margin-top: 20px;
  }
  iframe{
    width: 600px;
    height: 350px;
  }
  .close-pop-btn{
    margin-top: 30px;
  }
}
@media screen and (max-width: 680px){
  .music-img-div{
    display: none;
  }
  .music-text-div{
    width: 100%;
    height: 1000px;
  }
  iframe{
    width: 500px;
    height: 350px;
  }
}
@media screen and (max-width: 540px){
  .music-img-div{
    display: none;
  }
  .music-text-div{
    width: 100%;
  }
  iframe{
    width: 450px;
    height: 300px;
  }
}
@media screen and (max-width: 480px){
  .music-img-div{
    display: none;
  }
  .music-text-div{
    width: 100%;
  }
  .music-text-div h2{
    padding: 0px 2px;
    margin: 0 30px;
    font-size: 2em;
  }
  .music-text-div h3{
    font-size: 1.1em;
  }
  iframe{
    width: 400px;
    height: 270px;
  }
}
@media screen and (max-width: 420px){
  .music-elements{
    height: 100%
  }
  .music-img-div{
    display: none;
  }
  .music-text-div{
    width: 100%;
    margin-top: 0px;
  }
  iframe{
    width: 380px;
    height: 250px;
  }
  .album-dades{
    margin-top: 10px;
    align-items: center
    width: 100%;
  }
  .album-dades-text{
    margin-left: 10px;
    padding-left: 0px;
  }
  .album-dades-text h5{
    padding-left: 15px;
    font-size: 0.9em;
  }
  .album-dades-text h6{
    padding-left: 15px;
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .album-dades-img img{
    width: 100px;
  }
 
}

/* Home */
@media screen and (max-width: 900px){
  
  .input-section-content{
    margin: 50px 30px;
    padding: 59px 30px;
  }
  .input-section-content-text{
    padding: 30px 30px;
  }
}
@media screen and (max-width: 740px){
  .discover-section-two{
    height: 100%;
  }
  
  .items-content{
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 730px){
  .input-section-content{
    margin: 20px 30px;
    padding: 10px 30px;
    width: 90%;
    border-top: 1px solid #343a40;
    border-left: none;
    text-align: center;
  }
  .input-section-content-text{
    padding: 30px 30px;
    width: 100%;
    text-align: center;
  }
  .discover-section-one{
    flex-direction: column;
    display: flex;
  }
  .discover-section-one{
    height: 100%;
  }
  .discover-section-two{
    height: 100%;
  }
  .footer-flex{
    flex-direction: column;
  }
}
@media screen and (max-width: 400px){
  .discover-section-one h2{
    font-size: 1.5em;
  }
  .discover-section-one p{
    font-size: 0.9em;
  }
  .discover-section-one h3{
    font-size: 1.2em;
  }
  #birth-date, .placeholder{
    width: 200px;
    padding-left: 30px;
    font-size: 1em;
  }
  .items-description-text{
    padding: 20px;
  }
  .items-description-text h2{
    font-size: 1.5em;
  }
  .footer-list li > a{
    font-size: 1em;
   }
   footer{
     height: 150px;
   }
}



/* title animation */
.typewriter {
  font-family: sans-serif;
  color: #fff;
  padding-left: 30px;
  display: block;
}
.typewriter-text {
  padding-right: 10px;
  color: #343a40;
  border-right: solid #343a40 7px;
  text-transform: uppercase;
  animation: cursor 0.8s ease-in-out infinite;
  font-weight: bold;
}
@keyframes cursor {
  from { border-color: #343a40; }
  to { border-color: transparent; }
}

@media screen and (max-width: 1134px){
  .title h1{
    font-size: 5em;
  }
}
@media screen and (max-width: 775px){
  .title h1{
    font-size: 3.8em;
  }
}
@media screen and (max-width: 640px){
  .title h1{
    font-size: 3.5em;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 460px){
  .title h1{
    font-size: 2.7em;
    letter-spacing: 2px;
  }
}