* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 2em;
  font-family: "Permanent Marker", cursive;
}

h2 {
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}


section {
  /* background-color: yellow; */
  /* border: 1px solid black; */
}

footer {
  background-color: grey;
  height: 15vh;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
}
.logo-text {
  margin: 25px;
}
.logo-text a{
  text-decoration: none;
}
.menu-items{
  margin-top: 25px;
  margin-right: 20px;
}
.menu-items a{
 text-decoration: none;
 color: white;
 margin-left: 10px;
 transition: 0.8s;
}
.menu-items a:hover{
  text-decoration: none;
  color: black;
  margin-left: 10px;

 }
.nav-bar h2{
  color:white;
  font-family: "Permanent Marker", cursive;
}

.home-header {
  height: 100vh;
  background-color: #ffc728;
  color: white;
}


.section-content {
  height: 100vh;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 5em;
}
.title h1{
 margin-bottom: 120px;
}

#home-header {
  /* background-image: url("images/jez-timms-_Ch_onWf38o-unsplash.jpg");
  background-size: cover; */
}

#last-section {
  height: 85vh;
}

/* Discover page alternative

.external {
  height: 100vh;
}

.container {
  display: flex;
  width: 90vh;
  margin-left: 10px;
}

.left-part {
  width: 50%;
  height: 90vh;
  display: flex;
  background-color: rgb(248, 245, 244);

  margin: 50px 10px 10px 0px;
}

.right-part {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 10px;
}

.fragment-part {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.rectangle {
  height: 100%;
  background-image: url("images/micro.jpg");
  background-size: cover;
  margin: 0px 10px 10px 10px;
}

.squares {
  display: flex;
  height: 60vh;
  width: 100%;
}

.square {
  width: 100%;
  margin: 10px 10px 0px 10px;
}

.appaering-content:hover {
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 2;
}

#left-square {
  background-image: url("images/headphones.jpg");
  background-size: cover;
  display: flex;
}

#rigth-square {
  background-image: url("images/casette2.jpg");
  background-size: cover;
}

.discover-content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.discover-content:hover {
  visibility: visible;
  opacity: 1;
}

.carousel-item {
  background-color: rgb(241, 240, 239);
} */

/*Discover page */
.row {
  display: flex;
  height: 100%;
  width: 100%;
}

.box {
  height: 100%;
  width: 33%;
  overflow: hidden;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0px 25px 0px;
}

.back {
  top: 100%;
  width: 33%;
  position: absolute;
  transition: all 0.3s ease-out;
  background: white;
  height: 100%;
}

.back img{
  width: 80%;
}
.back iframe {
  width: 100%;
}

.box:hover > .back {
  top: 0;
}

.box,
h1 {
  color: white;
  text-align: center;
}
.box,
h3,
h2 {
  color: black;
  text-align: center;
}
.box button {
  width: 150px;
  height: 40px;
  margin-top: 100px;
  letter-spacing: 0px;
}
#songs button {
  background-color: white;
  border: 3px solid #ffc728;
}
#songs button:hover,
button:active {
  letter-spacing: 2px;
  background-color: #ffc728;
  transition: all 280ms ease-in-out;
  border: 1px solid rgba(#ffc728, 0);
  cursor: pointer;
}
#movies button {
  background-color: white;
  border: 3px solid #43a0d9;
}
#movies button:hover,
button:active {
  letter-spacing: 2px;
  background-color: #43a0d9;
  transition: all 280ms ease-in-out;
  border: 1px solid rgba(#43a0d9, 0);
  cursor: pointer;
}
#books button {
  background-color: white;
  border: 3px solid #f04a75;
}
#books button:hover,
button:active {
  letter-spacing: 2px;
  background-color: #f04a75;
  transition: all 280ms ease-in-out;
  border: 1px solid rgba(#f04a75, 0);
  cursor: pointer;
}
#songs span {
  color: #f04a75;
}
#movies span {
  color: #ffc728;
}
#books span {
  color: #43a0d9;
}

/* Pop up discover page */
.full-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}
.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full-screen {
  color: white;
}
.hidden {
  display: none;
}
#songs {
  background: #ffc728;
}
#movies {
  background: #43a0d9;
}

#books {
  background: #f04a75;
}

/* Discover page responsive */
@media (max-width: 800px) {
  .row {
    display: block;
  }
  .box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .front{
    width: 100%;
  }
  .back{
    width: 100%;
    position: absolute;
    left: 100%;
  }
  .box:hover > .back {
    left: 100;
  }
  #songs, .box:hover > .back {
    left: 0;
    top: 0%
  }
  #movies, .box:hover > .back {
    left: 0;
    top: 100%
  }
  #books, .box:hover > .back {
    left: 0;
    top: 100%
  }
  
  
}

/* @media (max-width: 800px){
  .row {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
  }
  
  .box {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    padding: 0px 25px 0px;
  }
  
  .back {
    top: 100%;
    width: 33%;
    position: absolute;
    transition: all 0.3s ease-out;
    background: white;
    height: 100%;
  }
  
  .back iframe {
    width: 100%;
  }
  
  .box:hover > .back {
    top: 0;
  }
} */


/* Sign up page */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border-radius: 3%;
  background: red;
}
.form-wrapper > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
.signup form {
}
.signup form input {
}

/* Log in page */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border-radius: 3%;
  background-color: red;
}
.form-wrapper > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
.login form {
}
.login form input {
}

/* FaQs page */

.faqs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #43a0d9;
}
.faqs {
  display: flex;
  width: 100%;
}
.questions {
  width: 65%;
}

.faqs-img {
  display: flex;
  width: 35%;
}
.faqs-img img {
  margin: 15px;
}
.faqs-content{
  text-align: start;
}
.faqs-footer {
  background-color: rgb(75, 61, 61);
}
